<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>CREATE A NEW PRODUCT</h2>
	<a href="/admin">Back</a>
	<br/><br/>
	<form method="post">
		<table>
			<tr>
				<td>PRODUCT NAME</td>
				<td><input type="text" name="productname" /></td>
			</tr>
			<tr>
				<td>IMAGE</td>
				<td><input type="file" name="iamge" ></td>
			</tr>
            <tr>
				<td>PRODUCT PRICE</td>
				<td><input type="text" name="productprice" /></td>
            </tr>
            <tr>
				<td>PRODUCT TYPE</td>
				<td><input type="text" name="producttype" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="ADD PRODUCT" /></td>
			</tr>
		</table>
	</form>
</body>
</html>