<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>VIEW PRODUCT </h2>
	<a href="/admin">Back</a>
    <br/><br/>
    
		<table border="1">
            <tr>
                <td>PRODUCT NAME</td>
                <td> <p><%= product.name %></p></td>
            </tr>
            <tr>
                <td>PRODUCT PRICE</td>
                <td> <p><%= product.price %></p></td> 
            </tr> 
            <tr>
                <td>PRODUCT TYPE</td>
                <td> <p><%= product.type %></p></td>
             </tr>
        </table>
</body>
</html>