<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Update your password</h2>
	<form method="post">
		<table>
			<tr>
				<td>OLD PASSWORD</td>
				<td><input type="text" name="oldpassword"></td>
			</tr>
			<tr>
				<td>NEW PASSWORD</td>
				<td><input type="password" name="newpassword"></td>
            </tr>
            <tr>
				<td>CONFIRM PASSWORD</td>
				<td><input type="password" name="conpassword"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Change Password"></td>
			</tr>
		</table>
	</form>
    <br/><br/>
    <ul>
        <% for(var i = 0; i < errs.length; i++){ %>
            <li><%= errs[i].message %></li>
        <% } %>
        </ul>
</body>
</html>