<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>USER HOME PAGE</h2>
	<p>Welcome <%= name %></p> 
	<button><a href="/logout">Logout</a></button>
	<button><a href="/home/ChangePassword">Update Password</a></button>
	<button><a href="/home/update">Update Profile</a></button>
	<button><a href="/home/view">Update Profile</a></button>
</body>
</html>