<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>EDIT</h2>
	<a href="/home">Back</a>
    <br/><br/>
    
		<table border="1">
            <tr>
                <td>FIRSTNAME</td>
                <td> <p><%= user.firstname %></p></td>
            </tr>
            <tr>
                <td>LASTNAME</td>
                <td> <p><%= user.lastname %></p></td> 
            </tr>
            <tr>
                <td>EMAIL</td>
                <td> <p><%= user.email %></p></td>
             </tr>
        </table>
</body>
</html>